.Container {
    margin: auto;
}
#myNavBar{
    float: right;
}
.navbar a{
    font-weight: bolder;
    color: white;
}

.text-inline {
    margin-top: 12px;
    color: #9d9d9d;
}
@media only screen and (max-width: 1000px) {
    .nav-item.main-btn a {
        font-size: small;
    }
    .text-inline label{
        font-size: smaller;
    }
    .navbar a {
        font-size: smaller;
    }
}
@media only screen and (min-width: 1000px) {
    .nav-item.main-btn a {
        font-size: medium;
    }
    .text-inline label{
        font-size: small;
    }
    .navbar a {
        font-size: small;
    }
}
@media only screen and (min-width: 1170px) {
    .nav-item.main-btn a {
        font-size: large;
    }
    .text-inline label{
        font-size: medium;
    }
    .navbar a {
        font-size: medium;
    }
}
.navbar-nav li a{
    text-align: left;
}

#myNavBar{
    float:none;
}
@media only screen and (min-width:1250px){
    #myNavBar {
        float: right;
    }
}

.selectDiv {
    float:left;
    display:flex    
}

label {
    font-size: medium;
}