.listBarChart{
    display: inline-block;
}
.barChart{
    display: inline-block;
    border: solid 0.5px wheat;
    background-color: red;
}
.compare{
    background-color: yellow;
}
.finished{
    background-color: blueviolet;
}
.pivot{
    background-color: aquamarine;
}
.nav-item{
    vertical-align: middle;
}
.main-btn a{
    font-size: large;
}
.ml-5{
    margin-left: 5px;
}
.navbar-nav li a{
    text-align: left;
}
.navbar-form{
    float:left;
}
#myNavBar{
    float:none;
}
@media only screen and (min-width:1250px){
    #myNavBar {
        float: right;
    }
}

