.listBarChart{
    display: inline-block;
}
.barChart{
    display: inline-block;
    border: solid 1px wheat;
    background-color: red;
}
.compare{
    background-color: yellow;
}
.finished{
    background-color: blueviolet;
}