.listBarChart{
    display: inline-block;
}
.barChart{
    display: inline-block;
    border: solid 1px wheat;
    background-color: red;
}
.compare{
    background-color: yellow;
}
.finished{
    background-color: blueviolet;
}
.pivot{
    background-color: aquamarine;
}
.nav-item{
    vertical-align: middle;
}
.main-btn a{
    font-size: large;
}
.ml-5{
    margin-left: 5px;
}