.Node {
    outline: 1px solid black;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: wheat;
}
.node-start{
    background-color: blue;
}
.node-finish{
    background-color:green;
}
.node-wall{
    background-color: brown;
}
.node-visited{
    background-color: yellow;
}
.node-shortest-path{
    background-color: aqua;
}